PORT=3001
DB_HOST=127.0.0.1
DB_USER=root
DB_PASSWORD=your_database_password_here
DB_NAME=web2d

# Redis
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0

# JWT
JWT_SECRET=your_jwt_secret_here
JWT_EXPIRES_IN=24h

# Email
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_SECURE=false
EMAIL_USER=your_email@gmail.com
EMAIL_PASSWORD=your_app_password_here # cai nay nay... lấy như nào anh?
# đổi email hệ thống gửi mã code ở đây đúng không a dung r e nma e phai lay ca cai mk ứng dung 
TOKEN_TO_SEVER=your_token_to_server_here
GEMINI_API_KEY=your_gemini_api_key_here

# Mã đối tác
KLB_PARTNER_CODE=1629

# Máy chủ UAT KLB
KLB_HOST=https://partner-staging.kienlongbank.co/paygate

# ClientId
KLB_CLIENT_ID=your_klb_client_id_here

# Encrypt key (dùng để mã hóa/giải mã AES)
KLB_ENCRYPT_KEY=your_klb_encrypt_key_here

# Secret key (dùng để ký/xác thực chữ ký HMAC SHA256)
KLB_SECRET_KEY=your_klb_secret_key_here

# Thông tin TK chuyên thu / chi hộ tại KLB (được cung cấp)
KLB_ACCOUNT_CHUYEN_THU=0000000000
KLB_ACCOUNT_CHI_HO=0000000000
KLB_ACCOUNT_THU_PHI=0000000000

# Cấu hình Test (để gọi từ test script)
KLB_TEST_ACCOUNT_INTERNAL=8615111983
KLB_TEST_ACCOUNT_NAPAS=0129837295
KLB_PORTAL_WEB=https://paygate-staging.kienlongbank.co
KLB_PORTAL_USER=PG001876077

# VietQR host (img.vietqr.io hoạt động cho cả sandbox lẫn production)
VIETQR_HOST=https://img.vietqr.io

# URL frontend để redirect sau khi thanh toán KLB hoàn tất
FRONTEND_URL=http://localhost:5173